.datasourceitem {
 
}

.custom-ptree{
    border:0;
}
.custom-ptree div{    
    padding: 0;
    
}

.item-db,.leaf-db, .p-treenode-leaf{        
    margin: 0;
    padding: 0;            
}

.leaf-db {     
    color: #4c77bd;
    cursor: pointer;
    
}   

