.querysplitter {
  
}

 .splitterdivisor{
    vertical-align: top;
    height: 100%;
    overflow: auto;
    display: block;

 }
.notoverflow{overflow: hidden;}

 .p-splitter .p-splitter-gutter .p-splitter-gutter-handle{
   background-color:#919191;   
   width: 60px;

 }

 .sql-back{
  /*background-color: rgba(175, 175, 175, 0.5);    */
 }